body{
	color:#777;
    background: url("../images/admin-bg.jpg");
    background-size: cover;
}
#wrapper{
	position:absolute;
	top:50%;
	left:50%;
	width:343px;
	margin-left:-175px;
	margin-top:-250px;
}

@media (min-width: 1200px){
    .container {
        width: 1000px;
    }
}

/* Header
 -----------------------------------------------------------------------------*/
#logo{
	text-align:center;
    display: table;
    margin: 50px auto 50px;
}

#smb{
    max-width: 300px;
    text-align: center;
}

#smb input{
    width: 150px;
}

.suport-info {
    background: rgba(0, 0, 0, 0.48);
    padding: 20px;
    margin-top: 38px;
    padding-bottom: 45px;
    color: #fff;
}

.suport-info .title-support {
    text-transform: uppercase;
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hotline-phone {
    color: red;
    font-size: 24px;
}

.loginStep1 p{
    max-width: 300px;
}

.loginStep1 input{
    max-width: 300px;
}

.loginStep1 label{
    font-size: 14px;
}

.lostpass{
    max-width: 300px;
}

#login-content h3{
    font-size: 16px;
}

/* Content
 -----------------------------------------------------------------------------*/
#login-content{
	background: transparent;
	padding: 20px 20px;
    color: #fff;
}

.lostpass a{
    color: #fff;
}
#login-content h3{
	margin:0 0 20px 0;
}
#login-content label{
	display:block;
}
#login-content img{
	height: 32px;
    max-width: 100%!important;
}
#login-content i{
	cursor:pointer;	
}
#login-content .input-big{
	font-size:18px;
	width:294px;
}
#login-content .muti-lang{
	text-align:right;
}
#login-content .muti-lang label{
	display:inline-block;
}
#login-content .lostpass{
	font-style:italic;
	padding:0;
	margin:0;
    margin-top: 15px;
    text-align: left;
}
.loginStep2 input {
    margin-bottom: 10px;
}

/* Footer
 -----------------------------------------------------------------------------*/
#copyright{
	text-align:center;
	font-style:italic;
	color:#999;
	margin-top: 10px;
}

/* Message
 -----------------------------------------------------------------------------*/
.inner-message{
	margin-bottom:16px;
}
.inner-message .normal{
	padding-left:10px;
	border-left:4px #e7e7e7 solid;
}
.inner-message .error{
	padding-left:10px;
	border-left:4px #D54E21 solid;
	color:#D54E21;
}