@charset "utf-8";* {	
	font-size: : 12px;	
	font-family: : Arial, Verdana, Helvetica, tahoma, sans-serif;	
	line-height: 16px}

	body {	margin: 0px;	color:  #000000;	font-size:  12px;	font-family:  Arial, Verdana, Helvetica, tahoma, sans-serif;}

hr {	clear: both}

a {	color:  #0000FF;	text-decoration:  none;}

a:hover {	color:  #E45D11;	text-decoration:  none;}

ul,li {	margin: 0;	padding: 0;	list-style: none}

img {	border: none}

select {	padding-left:  2px}

option {	padding-left:  2px}

table {	border:  0}

p {	padding: 0px;	margin: 0px;}

.clear {	clear: both}

/* cac class duoc su dung cho he thong hien thi cms  (display)*/.ta_top, .ta_main, .ta_footer {	background: #FFFFFF;	margin: auto;}

.ta_top {	box-shadow: 2px 0 2px 0px rgba(200, 200, 200, 0.9), -2px 0 2px 0px rgba(200, 200, 200, 0.9);	width: 1000px;}

.top_menu_search {  background: url(../images/bg_menu_search.jpg) center repeat;  height: 36px;  display: block;  z-index: 10;  position: relative;  margin-top: 0px;}

.ta_main {	padding: 6px;	box-shadow: 2px 0 2px 0px rgba(200, 200, 200, 0.9), -2px 0 2px 0px rgba(200, 200, 200, 0.9);	width: 1000px;	border: 1px solid #eee}

.ta_footer {	box-shadow: 2px 0 2px 0px rgba(200, 200, 200, 0.9), -2px 0 2px 0px rgba(200, 200, 200, 0.9);	width: 1000px;	margin-bottom: 2px;}

#my-wrapper {	margin: 0 auto;	width: 1000px;}

.banner {	width: 1000px;}

.main_content {	background: #fff;	box-shadow: 0px 0px 5px #666;	padding: 10px}

.article_bg {	background: white url(../images/BG2.jpg);}

.article_content {	line-height: 23px;	color: black;	text-align: justify}

.article_date {	color: #6B6B6B;}

.article_item_title {	font-weight : bold;}

.article_item {}

.article_item_link {	color:  #0B5DBA;	text-decoration:  none;	color: #222;	line-height: 18px;	padding-bottom: 3px;	background: url(../images/icons/Huyen-QN_32.png) no-repeat 0px 2px;	padding-left: 15px;}

.article_printmail {}

.article_printmail_link {	color:  #0B5DBA;	text-decoration:  none;}

.style_TNB_HT_234 .article_summary {	clear: both;}

.article_summary_detail {	line-height: 18px;	color: Black;	text-align: justify}

.article_title {	color : #044083;	font-weight : bold;	text-decoration : none;	padding: 5px 0px 10px 0;	display: block;	font-size: 14px;}

.article_title_link .article_title {	font-size: 12px;	padding: 5px 0}

.article_title_link .article_title:hover {	color: #cc0000}

.img_comment {	width: 120px;	padding: 2px;	border: 1px solid #ccc;	float: left;	margin: 0 5px 0px 0}

.article_summary {	text-align: justify}

.image_comment {	color: #5D5D5D;}

.back {	font-weight : bold;}

.back_link {	color: #639CFF;}

.cat_box {	margin-bottom: 1px;}

.cat_box .title_cat {}

.hot_news_box {	border: 1px solid #cccccc;	margin-bottom: 5px;}

.top_menu {	width: 1000px;	height: 34px;	display: block;	background: #095593; /* Old browsers */	background: -moz-linear-gradient(top, #095593 0%, #1363a3 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #095593), color-stop(100%, #1363a3)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top, #095593 0%, #1363a3 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top, #095593 0%, #1363a3 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top, #095593 0%, #1363a3 100%); /* IE10+ */	background: linear-gradient(to bottom, #095593 0%, #1363a3 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#095593', endColorstr='#1363a3', GradientType=0 ); /* IE6-9 */	position: relative;	border-bottom: 1px solid #11558a;}

.top_menu ul {	display: block;	height: 34px;	margin: 0px;	padding: 0px;}

.top_menu ul li {	float: left;	list-style: none;	height: 34px;}

.top_menu ul li:last-child {}

.top_menu ul li a {	line-height: 34px;	padding: 0 15px;	font-size: 12px;	color: #FFFFFF;	font-weight: bold;	height: 34px;	display: block;}

.top-menu-activate {	color: #FFFFFF;	background: #196eb5; /* Old browsers */	background: -moz-linear-gradient(top, #196eb5 0%, #11558a 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #196eb5), color-stop(100%, #11558a)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top, #196eb5 0%, #11558a 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top, #196eb5 0%, #11558a 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top, #196eb5 0%, #11558a 100%); /* IE10+ */	background: linear-gradient(to bottom, #196eb5 0%, #11558a 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196eb5', endColorstr='#11558a', GradientType=0 ); /* IE6-9 */}

.top_menu ul li a:hover {	color: #FFFFFF;	background: #196eb5; /* Old browsers */	background: -moz-linear-gradient(top, #196eb5 0%, #11558a 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #196eb5), color-stop(100%, #11558a)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top, #196eb5 0%, #11558a 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top, #196eb5 0%, #11558a 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top, #196eb5 0%, #11558a 100%); /* IE10+ */	background: linear-gradient(to bottom, #196eb5 0%, #11558a 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196eb5', endColorstr='#11558a', GradientType=0 ); /* IE6-9 */}

/*********//*****FOOTER MENU*****//***********//*********************/.video_gallery {	width: 750px;	height: 380px;	padding-left: 5px;	margin-top: 5px;}

.video iframe {  width: 209px;  height: auto;}

.video_viewer {	width: 482px;	height: 372px;	margin-right: 5px;	float: left;}

.video_noi_bat {	width: 263px;	height: 375px;	float: right;	overflow: hidden;}

.video_noi_bat .title {	width: 260px;	height: 30px;	border-radius: 5px 5px 0 0;	border: 1px solid #e1e1e1;	background: url(../images/video_noi_bat_title.jpg) repeat-x;}

.video_noi_bat .title span {	border: #b7e3b5 1px solid;	border-radius: 4px 5px 0 0;	background: #fff url(../images/title_span.jpg) repeat-x;	border-bottom: 0px;	margin: 1px 3px;	height: 30px;	line-height: 30px;	text-align: center;	font-weight: bold;	text-transform: uppercase;	color: #056c0c;	padding: 0 20px;	display: block;	width: 100px;	font-size: 13px;	font-family: tahoma;}

.video_noi_bat2 {	width: 236px;	height: 545px;	float: right;	overflow: hidden;}

.video_noi_bat2 .title {	width: 235px;	height: 30px;	border-radius: 5px 5px 0 0;	border: 1px solid #e1e1e1;	background: url(../images/video_noi_bat_title.jpg) repeat-x;}

.video_noi_bat2 .title span {	border: #b7e3b5 1px solid;	border-radius: 4px 5px 0 0;	background: #fff url(../images/title_span.jpg) repeat-x;	border-bottom: 0px;	margin: 1px 3px;	height: 30px;	line-height: 30px;	text-align: center;	font-weight: bold;	text-transform: uppercase;	color: #056c0c;	padding: 0 20px;	display: block;	width: 100px;	font-size: 13px;	font-family: tahoma;}

.video_noi_bat_list {	width: 260px;	height: 337px;	border: 1px solid #e1e1e1;	border-top: none;	border-radius: 0 0 5px 5px;	background: url(../images/video_noi_bat_content.jpg) repeat-x;}

.video_noi_bat_list2 {	width: 233px;	/*	height:337px;*/	border: #14961a 1px solid;	border-top: none;	overflow: hidden;/*	border-radius:0 0 5px 5px;*//*	background:url(/3cms/images/vnitt/video/video_noi_bat_content.jpg) repeat-x;*/}

.video_detail {	width: 250px;	height: 78px;	padding: 5px;	padding-bottom: 0px;	list-style: none;	position: relative;}

.video_detail2 {	width: 225px;	height: 85px;	padding: 5px;	padding-bottom: 0px;	list-style: none;	position: relative;	overflow: hidden}

.video_detail img {	width: 90px;	height: 63px;	border: 4px solid #fff;	border-radius: 5px;	box-shadow: 2px 2px 5px #aaa;	float: left;	margin-right: 7px;	cursor: pointer;}

.video_detail img:hover {	box-shadow: 2px 2px 5px #68c364;	opacity: 0.7}

.video_detail a {	color: #222;	text-align: justify;	line-height: 15px;	text-decoration: none;	display: block;}

.video_detail a:hover {	text-shadow: 2px 2px 2px #aaa}

.video_detail2 img {	width: 90px;	height: 63px;	border: 4px solid #fff;	border-radius: 5px;	box-shadow: 2px 2px 5px #aaa;	float: left;	margin-right: 7px;	cursor: pointer;}

.video_detail2 img:hover {	box-shadow: 2px 2px 5px #68c364;	opacity: 0.7}

.video_detail2 a {	color: #222;	text-align: justify;	line-height: 15px;	text-decoration: none;	display: block;}

.video_detail2 a:hover {	text-shadow: 2px 2px 2px #aaa}

.video_lien_quan {	width: 750px;	height: 200px;	padding-left: 5px/*	margin:5px 0;*/}

.play_icon {	top: 33px !important;	left: 50px !important;	position: absolute;	width: 25px !important;	height: 25px !important;	border: none !important;	box-shadow: none !important;}

.video_cat {	width: 539px;	height: 160px;	padding-left: 5px;	margin: 10px 0;}

.title_video_lien_quan {	/*	width:750px;*/	height: 25px;	background: url(../images/bg_video_menu_title.jpg) repeat-x;}

.title_video_lien_quan span {	width: 115px;	height: 23px;	display: block;	padding: 0px;	border: 1px solid #093;	border-top-width: 3px;	border-bottom: 0;	background: #fff;	margin: 0 20px;	line-height: 25px;	text-align: center;	font-weight: bold;	text-transform: uppercase;	color: #DD4700;	font-size: 13px;	font-family: tahoma !important;}

.list_video_lien_quan {	width: 750px;	height: 171px;	background: #fff url(../images/video_lien_quan_bg.jpg) no-repeat;	list-style: none;	overflow: hidden;}

.list_video_cat {	width: 539px;	height: 135px;	background: #fff url(../images/video_lien_quan_bg.jpg) no-repeat;	list-style: none;	overflow: hidden;	border-right: 1px solid #E0E0E0;	border-bottom: 1px solid #D8D7D7;}

.video_lien_quan_detail:first-child {	margin-left: 35px;}

.video_lien_quan_detail {	width: 140px;	height: 154px;	padding: 5px;	margin-right: 25px;	float: left;	list-style: none;	position: relative;	overflow: hidden}

.video_lien_quan_detail img {	width: 130px;	height: 94px;	border: 4px solid #fff;	border-radius: 5px;	box-shadow: 2px 2px 5px #aaa;	margin-top: 5px;	cursor: pointer;}

.video_lien_quan_detail img:hover {	box-shadow: 2px 2px 5px #68c364;	opacity: 0.7}

.video_lien_quan_detail p {	margin-top: 5px}

.video_lien_quan_detail a {	color: #222;	font-weight: bold;	text-align: justify;	line-height: 15px;	text-decoration: none;	width: 138px;	height: 51px;}

.video_lien_quan_detail a:hover {	text-shadow: 2px 2px 2px #aaa}

.video_cat_detail:first-child {	margin-left: 15px;}

.video_cat_detail:last-child {	margin-right: 0px;}

.video_cat_detail {	width: 105px;	height: 110px;	padding: 5px;	margin-right: 15px;	float: left;	list-style: none;	position: relative;	overflow: hidden}

.video_cat_detail img {	width: 110px;	height: 70px;	border: 3px solid #fff;	border-radius: 5px;	box-shadow: 2px 2px 5px #aaa;	margin-top: 5px;	cursor: pointer;}

.video_cat_detail img:hover {	box-shadow: 2px 2px 5px #68c364;	opacity: 0.7}

.video_cat_detail p {	margin-top: 5px}

.video_cat_detail a {	color: #222;	font-weight: bold;	line-height: 15px;	text-decoration: none;	width: 138px;	height: 51px;}

.video_cat_detail a:hover {	text-shadow: 2px 2px 2px #aaa}

.video_cat_box {	width: 235px;	margin-bottom: 5px;}

.video_cat_title {	width: 235px;	height: 34px;	background: url(../images/right_cat_title.jpg) right no-repeat;	text-align: center;}

.video_cat_title span {	color: #fff;	text-transform: uppercase;	line-height: 30px;	font-weight: bold;}

.search_box {	border: #14961a 1px solid;	border-top: none;	background: #f6fff9;	margin-bottom: 2px;	width: 233px;	height: 53px}

.input_search_video {	width: 150px;	margin: 10px 5px;	padding: 0 5px;	height: 25px;	background: url(../images/input_search.jpg) repeat-x;	border: 1px solid #ccc;	border-radius: 3px;	;	margin-right: 0;	color: #666}

.search_video_btn {	width: 50px;	height: 27px;	background: url(../images/search_btn.jpg) no-repeat;	float: right;	border: none;	margin: 10px 0;	margin-right: 6px;	cursor: pointer;}

.search_video_btn:hover {	background: url(../images/search_btn-hover.jpg) no-repeat;}

.img_play {	position: absolute;	top: 40px;	left: 62px;	width: 25px !important;	height: 25px !important;	border: none !important;	box-shadow: none !important;}

#myElementVideoVN_wrapper, #myElementVideo_wrapper, #myElementVideoEN_wrapper, #myElementVideoVN {	width: 99% !important;	height: 99% !important;/*<!--	border: 1px solid #ddd !important;	padding: 1px !important;-->*/}

#myElementVideoVN_logo {	visibility: hidden}

.box_tin_tuc {	margin: 0 0 5px 0;}

.ul_expand {	margin: 0;	padding: 0;	border: 1px solid #CCCCCC;}

.ul_expand li {	list-style: none;	display: block;	background: #FFFFFF; /* Old browsers */	background: -moz-linear-gradient(top, #FFFFFF 0%, #e2e2e2 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #e2e2e2)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top, #FFFFFF 0%, #e2e2e2 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top, #FFFFFF 0%, #e2e2e2 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top, #FFFFFF 0%, #e2e2e2 100%); /* IE10+ */	background: linear-gradient(to bottom, #FFFFFF 0%, #e2e2e2 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#e2e2e2', GradientType=0 ); /* IE6-9 */	margin: 1px;	border-top: 1px solid #e6eef7;}

.ul_expand li a {	display: block;	line-height: 18px;	padding: 5px 5px 5px 2px;	font-weight: bold;	cursor: pointer; color: #fff;}

.ul_expand li a:first-letter {	text-transform: uppercase;}

.ul_expand li a:hover {	background: url(../images/Huyen-QN_18.png) 11px 11px no-repeat;	color: #46b116;}

.ul_expand li ul {	padding: 0;	margin: 0}

.ul_expand li ul li {	background: none;	border: none;	border-top: 1px dashed #ccc;}

.ul_expand li ul li a {	line-height: 15px;	padding: 5px 0;	display: block;	color: #01528f;	padding-left: 30px;	background: url(../images/icons/Huyen-QN_21.png) 10px 11px no-repeat;}

.ul_expand li ul li a:hover {	color: #46b116;	background: url(../images/3.gif) 21px 10px no-repeat;}

.cat-parent-level1 {	background: url(../images/bullet_2.png) no-repeat 198px 9px;}

.title_hot_news {	height: 45px;	line-height: 30px;}

.box_title {	font-size:  12px;	text-decoration: none;	font-weight: bold;	color: #FFFFFF;	text-align: left;	padding-left: 10px;	text-transform: uppercase;	display: block;	line-height: 28px;	background: url(../images/Huyen-QN_10.png) no-repeat;}

.title_hot_news .box_title {}

.catalogue_top_link {	COLOR: #000000;	TEXT-DECORATION: none;	padding: 0 20px;	line-height: 32px;	display: block;}

.communication {	font-weight: bold;}

.communication_link {	COLOR: #000000;	TEXT-DECORATION: none;}

.catalogue_bottom {	font-weight: bold;	color: Red;	line-height: 32px;}

.catalogue_bottom a, .showunicode a, .showsuggestion a {	padding: 0 10px;	border-right: 1px solid #299fda;	font-weight: bold;	color: #FFFFFF !important;	line-height: 30px}

.showsuggestion a {	border-right: 0px;}

.catalogue_bottom a:hover, .showunicode a:hover, .showsuggestion a:hover {	color: #FFFF00 !important}

.catalogue_bottom_link {	font-family: Arial, Helvetica, sans-serif;	font-size : 9pt;	font-weight : bold;	color : Red;}

.catalogue_center {	font-weight: bold;	color: #0B5DBA;}

.catalogue_center_link {	COLOR: #0B5DBA;	TEXT-DECORATION: none;}

.continue {	font-size : 11px;	color: #005087;	line-height: 20px;	float: right;	font-weight: bold;	font-style: italic}

.continue:hover {	color: #cc0000}

.homepage {	font-weight: bold;}

.homepage_link {	COLOR: #000000;	TEXT-DECORATION: none;}

.showsend {	font-weight: bold;}

.showsend_link {	font-family: Arial, Helvetica, sans-serif;	font-size : 12px;	font-weight : bold;	color : #000000;}

.showsuggestion {	font-weight: bold;}

.showsuggestion_link {	COLOR: #000000;	TEXT-DECORATION: none;}

.showunicode {	font-weight: bold;}

.showunicode_link {	font-family: Arial, Helvetica, sans-serif;	font-size : 12px;	font-weight : bold;	color : #000000;}

.lang {	font-weight: bold;}

.lang_link {	COLOR: #000000;	TEXT-DECORATION: none;}

.footer {	background: url(../images/Huyen-QN_06.jpg) no-repeat;	height: 138px;}

.copyright {	color: #222;	padding: 10px;	line-height: 18px;	vertical-align: top;	padding-top: 20px;}

.design_by {	vertical-align: top;	text-align: right;	padding-right: 10px;}

.lst_baodientu, .lst_websitesonganh {	WIDTH: 90% !important;	margin: 10px;	height: 22px;	margin: 5px 10px 15px 10px}

.menu_footer {	font-weight : bold;	color : #000000;}

.menu_selected_top {	font-weight: bold;	text-indent: 24px;	padding-right : 20px;}

.menu_selected_left {	font-weight: bold;}

.menu_selected_right {	border-color: #000000;	border-width: 1px;	background: #E4E4E4;	margin-left: 1px;	margin-right: 4px;}

.menu_selected_bottom {	border-color: #000000;	border-width: 1px;	font-weight : bold;}

.boderContent {	border-top: 1px solid #999999;	border-bottom: 1px solid #999999;	border-right: 1px solid #999999;	border-left: 1px solid #999999;}

.news_box_title {	font-weight : bold;	text-indent: 2px;	color: #FFFFFF;	text-transform: uppercase;}

.poll_answer {	cursor: pointer}

.poll_question {	font-weight: bolder;	color: #222;	display: block;	padding: 5px;	text-align: justify;}

.search {	text-indent: 10px;}

.text_search {	font-family: Verdana, Arial, Helvetica, sans-serif;	font-size: 12px;	border-top: 1px solid #035BC5;	border-right: 1px solid #035BC5;	border-bottom: 1px solid #035BC5;	border-left: 1px solid #035BC5;}

.text {	border-top: 1px solid #9A9A9A;	border-right: 1px solid #9A9A9A;	border-bottom: 1px solid #9A9A9A;	border-left: 1px solid #9A9A9A;}

.search_link {	color: #173768;}

.search_message {	font-weight: bolder;}

.pagging {	font-weight: bolder;	color : #00009C;	padding: 0 2px}

.pagging_select {	font-weight: bold;	color : #CE0000;}

.pagging_title {	font-weight: bolder;	color : Black;}

.title_form {	font-weight: bolder;	color : Black;}

.item_title_form {	color : Black;}

.message {	color : #0063FF;}

.success_msg {	color : #0031CE;}

.error_msg {	color : Red;}

.img_adv {	border: 1px;	border-style: solid;	border-color: #33CCFF;}

.DateTime {	font-size : 8pt;	padding-top: 5px;	color : #FFFFFF;	height: 22px;}

.advbox {/*BORDER: #cccccc 1px solid;*/}

.advbox img {	width: 215px;	height: auto;	margin: 1px 0;}

.advbox {	margin: 2px 0;	display: block}

.design {	font-family: Arial, Helvetica, sans-serif;	font-size: 11px;	color: #FFFFFF;	text-align: right;}

.hotlink {	color : #0B5DBA;}

.page_title {	background-color: #CC3333;	color: #FFFFFF;	font-size: 11px;	text-transform: uppercase;}

#text_search {	margin-left: 7px;	border-radius: 3px;	border: 1px solid #ccc;	padding: 2px;	margin-top: 10px}

.support_title {	margin: 0px 0px 0px 0px;	font-family: tahoma, Verdana, Arial, Helvetica, sans-serif;	font-size: 12px;	height: 34px;	display: block}

.support_title ul {	border-bottom: 1px solid #E1E1E1;	border-radius: 5px 5px 0 0;	background: url(../images/bg_tab_news.jpg) repeat-x;	height: 30px;}

.support_title li {	display: inline;	margin-left: 1px;	padding-bottom: 5px;	float: left;	text-align: center;}

.support_title li a {	margin: 0px;	height: 30px;	line-height: 27px;	text-align: center;	font-weight: bold;	text-decoration: none;	color: #056c0c;	padding: 0 20px;	display: block}

.support_title li a:hover {	background: white url(../images/bg_tab_news_hover.jpg) repeat-x;	height: 30px;	color: #9b2727;	font-weight: bold;}

.xem_ketqua {	color: red;}

#aLatesNews {	background: white url(../images/bg_tab_news_hover.jpg) repeat-x;}

.support_title li a.selected {	background: #fff;	height: 30px;	color: #9b2727;	font-weight: bold;}

.support_title li:visited {	background: #fff;	height: 30px;	color: #9b2727;	font-weight: bold;}

.support_title li a:active {	background: #fff;	height: 30px;	color: #9b2727;	font-weight: bold;}

.title_news .article_title {	color: #cc0000;	text-transform: uppercase;	padding-left: 0;	font-size: 12px;	font-family: tahoma !important;	line-height: 18px;	text-align: justify;}

.tab_news .news_box_title a {	line-height: 23px;	font-weight: bold;	height: 35px;	background: url(../images/STTTT_03.png);	display: block;	padding-left: 10px;	color: #fff;	border: 1px solid #ccc;}

.tab_news .news_box_title a:hover {	color: #cc0000}

.cont_skhdt {	padding: 8px;	border: 1px solid #CCCCCC;	margin-bottom: 5px;}

.artItem {	border-bottom: 1px solid #ddd;	padding: 5px 0;}

.artItem:last-child {	border: 0;	padding-bottom: 0}

.artItem:first-child {	padding-top: 0;	border-bottom: 0}

.news_box_skhdt {	display: block;	padding: 8px;	width: 100%;}

.news_box_skhdt .news_box_title {	background: #FFFFFF; /* Old browsers */	background: -moz-linear-gradient(top, #FFFFFF 0%, #ededed 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #ededed)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top, #FFFFFF 0%, #ededed 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top, #FFFFFF 0%, #ededed 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top, #FFFFFF 0%, #ededed 100%); /* IE10+ */	background: linear-gradient(to bottom, #FFFFFF 0%, #ededed 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#ededed', GradientType=0 ); /* IE6-9 */	height: 27px;	border: 1px solid #CCCCCC;	border-bottom: 0px;	border-top-left-radius: 10px;overflow: hidden;}

.news_box_skhdt .news_box_title .right_title {	background: url(../images/Huyen-QN_24.png) no-repeat;	display: inline-block;	float: left;	width: 10px;	height: 28px;}

.news_box_skhdt .news_box_title a {	display: inline-block;	line-height: 30px;	color: #FFFFFF;	font-size: 12px;	font-family: tahoma;	background: url(../images/Huyen-QN_25.png) repeat-x;	float: left;	padding: 0 10px 0 0}

.news_box_skhdt .news_box_title .left_title {	background: url(../images/Huyen-QN_27.png) no-repeat;	display: inline-block;	float: left;	width: 20px;	height: 28px;}

.tab-box-catalogue-parent .news_box_title {	background: none;	height: 27px;	border: 0px;	border-bottom: 3px solid #075993;}

.tab-box-catalogue-parent .news_box_title a:hover, .tab-hover {	color: #FFFFFF !important;	background: #196eb5; /* Old browsers */	background: -moz-linear-gradient(top, #196eb5 0%, #11558a 100%) !important; /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #196eb5), color-stop(100%, #11558a))!important; /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top, #196eb5 0%, #11558a 100%) !important;	; /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top, #196eb5 0%, #11558a 100%) !important; /* Opera 11.10+ */	background: -ms-linear-gradient(top, #196eb5 0%, #11558a 100%) !important;/* IE10+ */	background: linear-gradient(to bottom, #196eb5 0%, #11558a 100%) !important; /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#196eb5', endColorstr='#11558a', GradientType=0 )!important; /* IE6-9 */	border: 1px solid #196eb5 !important;	border-bottom: 0px !important;	height: 26px;}

.tab-box-catalogue-parent .news_box_title a {	background: #FFFFFF; /* Old browsers */	background: -moz-linear-gradient(top, #FFFFFF 0%, #f0f0f0 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFFFFF), color-stop(100%, #f0f0f0)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top, #FFFFFF 0%, #f0f0f0 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top, #FFFFFF 0%, #f0f0f0 100%);  /* Opera 11.10+ */	background: -ms-linear-gradient(top, #FFFFFF 0%, #f0f0f0 100%);  /* IE10+ */	background: linear-gradient(to bottom, #FFFFFF 0%, #f0f0f0 100%);  /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#f0f0f0', GradientType=0 ); /* IE6-9 */	padding: 0 15px;	height: 26px;	line-height: 27px;	cursor: pointer;	margin: 0 3px 0 0px;	border: 1px solid #ccc;	border-bottom: 0px;	color: #0760B3;}

.tab-box-catalogue-parent .artItem {	border-bottom: 0}

.news_box_skhdt .news_box_title a:hover {	color: #33FF00;}

.news_box_skhdt .news_box_title a:nth-child(4) {	padding-left: 10px;	;}

.spnContinue {	display: block;	margin-top: -15px;	color: #043ba7 !important;	margin-bottom: 15px}

.spnContinue a {	color: #043ba7 !important;	font-style: italic;	font-weight: bold;}

.spnContinue a:hover {	color: #cc0000 !important}

.kg_ul_list_news {	margin: 5px;	padding-left: 0}

.kg_ul_list_news li {	padding-bottom: 5px}

.article_item_title {	color: #e20101 !important;	font-weight: bold;}

.phongchu2 img {	width: 160px;	padding: 2px;	border: 1px solid #ccc;	margin: 0 10px;	max-width: 500px;	height: auto;}

.article_content img {	width: auto !important;	margin: 10px;	max-width: 500px;	height: auto;	padding: 1px;	border: 1px solid #ccc;}

#spanHomeCat4167 a:last-child {	background: none;	padding-left: 5px}

#spanHomeCat4167 label {	display: inline-block;	width: 16px;	height: 28px;	background: url(../images/icons/arrow_title.jpg) no-repeat;	float: left}

label {	display: inline-block;}

.menu_footer {	background: url(../images/bg_footer.jpg) repeat-x;	height: 35px;	display: block;}

.copyright span {	text-transform: uppercase;	font-size: 13px}

.pViewCalendar235 {	margin: 5px 50px;	display: block;	font-weight: bold;	text-transform: uppercase;}

.google_page {	float: right;	padding: 10px;}

#boxCenter {	margin: 0px 7px 10px 7px;}

.group-box-catalogue-parent {	padding: 0px}

.group-box-catalogue-parent .group-box-catalogue {	width: 364px;	display: inline-block;	vertical-align: top;	border: 1px solid #d7c183;	padding: 3px;	height: 315px;	overflow: hidden;	margin-bottom: 10px}

.group-box-catalogue-parent .group-box-catalogue:nth-child(2n+1) {	margin-right: 10px}

.group-box-catalogue .artItem {	border-bottom: 0}

.ul_hot_news, .weblink_box {}

.ul_hot_news marquee{height:150px;}


.ul_hot_news a {	COLOR: #333333 !important; padding: 5px 0 5px 15px;	background: url(../images/Huyen-QN_32.png) 0px 13px no-repeat;	line-height: 15px;	display: block;	border-bottom: 1px dashed #cccccc;}

.ul_hot_news a:hover {	text-decoration: none;	color: #F47A00 !important}

#imgHot_New28 {	border: none !important;}

.lang img {	border: none}

.leftMenu_title2 .box_title {	display: none}

.ul_expand2 {	height: 31px;	line-height: 30px;	background: url(../images/title_cat.jpg) repeat-x;	padding-left: 0px;	margin: 0}

.ul_expand2 .catalogue_left_link {	padding-left: 25px !important;	padding: 0;	margin: 0;	line-height: 30px;	font-weight: bold;	color: #333;	text-align: left;	text-transform: uppercase;	display: block;	background: url(../images/bullet_cat.png) 7px 9px no-repeat;	border: 1px solid #ccc;	border-bottom: 0;	text-shadow: 1px 1px 1px #fff;}

.cat-image, .link-advertise img {	width: 206px;	height: auto;	padding: 2px;	margin: 0 0 3px 0;	border: 1px solid #ccc;}

.dv_cat_img img {	width : 25px !important;	height : 25px !important;	margin: 0 10px 0 0px}

.dv_cat_img li a {	list-style: none;	background: none !important;	vertical-align: top;	padding: 10px !important}

/* tienanh */.cont_skhvdt {	border: 1px solid #0d68c2;	border-top: 3px solid #0d68c2;	padding: 8px;	margin-bottom: 10px;}

.footer_menu {	text-align: center;	background: #2279c1; /* Old browsers */	background: -moz-linear-gradient(top, #2279c1 0%, #1061a6 100%); /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2279c1), color-stop(100%, #1061a6)); /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top, #2279c1 0%, #1061a6 100%); /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top, #2279c1 0%, #1061a6 100%); /* Opera 11.10+ */	background: -ms-linear-gradient(top, #2279c1 0%, #1061a6 100%); /* IE10+ */	background: linear-gradient(to bottom, #2279c1 0%, #1061a6 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2279c1', endColorstr='#1061a6', GradientType=0 ); /* IE6-9 */	border-bottom: 1px solid #2c75b3;	height: 30px;	line-height: 30px;	text-align: center;	padding-left: 400px;}

.footer_menu ul {	text-align: center;}

.footer_menu ul li {	float: left;	line-height: 30px;	height: 30px;	color: #815705;}

.footer_menu ul li .catalogue_bottom a {	line-height: 30px;	height: 30px;	color: #FFFFFF;}

.footer div {	line-height: 17px;	margin-left: 1px;	margin-right: 1px;	color: #FFFFFF;}

.footer div span {	font-weight: bold;	text-transform: uppercase;	font-size: 14px;	margin-bottom: 10px;}

.ta_skinbar {	right: 10px;	top: 9px;	position: absolute;}

#textsearch {  width: 210px;  border: 0px solid #ccc;  border-radius: 3px;  padding: 0px 1px 0px 10px;  margin-bottom: 0px;}

.ta_searchbar input {  /*background: url("/3cms/upload/huyenquangninh/Image/Top/search.png") no-repeat 0 0;*/  border: 0 none;  color: #999999;  font-style: italic;  font-weight: bold;  height: 24px;  padding-left: 10px;  padding-right: 32px;  width: 165px;}

.ta_searchbar {	right: 10px;	top: 5px;	position: absolute;}

/*.ta_searchbar input {	border: 0px;	width: 165px;	height: 25px;	padding-left: 10px;	padding-right: 32px;	background: url(/3cms/images/huyenquangninh/Huyen-QN_06.png) no-repeat;	font-style: italic;	color: #999999;}*/

.imgMedia {	margin-bottom: 7px;	margin-top: 7px;	border: 1px solid #CCCCCC;	padding: 1px;	height: auto;	width:540;}

.media_box a:first-child .imgMedia {	margin-right: 6px}

.style_TNB_HT_234 .imgArticleType291 {	display: none}

.weblink_input {	color: #006699;	font-weight: bold;	padding: 5px; text-transform: uppercase;}

.counter {	font-weight: bold;	color: #980101;	margin: 5px 0;	text-align: center;	font-size: 14px;	letter-spacing: 2px;}

.title_visitor {	font-weight: bold;	padding: 5px;	color: #000;	font-size: 12px;	letter-spacing: 0px}

.list_float_right {	width: 40%;	float: right;	padding: 0 0 0 10px}

.content_float_left {	overflow: hidden}

.img_slider123 img {	width: 200px;	height: 148px;}

.div_slider123 {	border: 1px solid #CCCCCC;	border-top: 0px;	min-height: 800px;}

.img_slider123 {	border: 1px solid #CCCCCC;	box-shadow: 1px 1px 5px #CCCCCC;	cursor: pointer;	height: 150px !important;	margin: 16px;	opacity: 1;	padding: 2px;	vertical-align: top;	float: left;}

.img_slider123:hover {	opacity: 0.8;}

.div_slider123 label {	background: none repeat scroll 0 0 #000000;	bottom: 2px !important;	color: #FFFFFF;	display: block;	font-weight: bold;	left: 3px !important;	opacity: 0.7 !important;	position: absolute;	text-align: center;	text-transform: uppercase;	width: 98%;	min-height: 40px;}

.div_slider123 label font {	color: #FFFFFF !important;	opacity: 1 !important;	text-transform: none;	font-weight: normal;	cursor: pointer;}

/*TIN TUC SLIDE*/.style_TNB_HT_234 {	height: 368px;	overflow: hidden;	position: relative;	margin-top: 0px;	width: 280px;}

.style_TNB_HT_234 .article_title {	color: #0468b5;	text-transform: none;}

.style_TNB_HT_234 img {	width: 274px !important;	height: auto;	min-height: 210px;	max-height: 225px;	border: 1px solid #ccc;	padding: 2px;	margin-bottom: 5px;}

.style_TNB_HT_234 .article_summary span {	line-height: 18px !important;	padding: 5px;	display: block;	clear: both;	font-weight: normal !important}

.latest_news_box {	overflow: hidden;	position: relative;	padding: 0;}

#dLatesNews {	float: right;	border: 1px solid #e0e0e0;	border-top: 0px;	background: #fdfeff; /* Old browsers */	background: -moz-linear-gradient(top, #fdfeff 0%, #e3f2ff 100%) !important; /* FF3.6+ */	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfeff), color-stop(100%, #e3f2ff)) !important; /* Chrome,Safari4+ */	background: -webkit-linear-gradient(top, #fdfeff 0%, #e3f2ff 100%) !important; /* Chrome10+,Safari5.1+ */	background: -o-linear-gradient(top, #fdfeff 0%, #e3f2ff 100%) !important; /* Opera 11.10+ */	background: -ms-linear-gradient(top, #fdfeff 0%, #e3f2ff 100%) !important; /* IE10+ */	background: linear-gradient(to bottom, #fdfeff 0%, #e3f2ff 100%) !important; /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfeff', endColorstr='#e3f2ff', GradientType=0 ) !important; /* IE6-9 */}

#dLatesNews p {	text-align: justify}

#dLatesNews img {	width: 54px;	float: left;	border: 1px solid #ccc;	padding: 1px;	margin: 0 5px 5px 0;}

#dLatesNews ul, #dMostReadNews ul {	margin: 5px;	list-style: none;	padding: 0;}

#dLatesNews ul li, #dMostReadNews ul li {	padding-bottom: 10px;	position: relative;}

#dLatesNews ul li a, #dMostReadNews ul li a {	color: #222;	text-decoration: none;	font-weight: normal !important;}

#dLatesNews ul li a:hover img, #dMostReadNews ul li a:hover img {	box-shadow: 1px 1px 3px #666}

#dLatesNews ul li a:hover, #dMostReadNews ul li a:hover, .article_item_link:hover {	color: #0066CC;}

.style_TNB_HT_234 #imgHot_New28, .style_TNB_HT_234 .imgArticleType291, .style_TNB_HT_234 .continue {	DISPLAY: NONE !important}

.tab_news {	float: right;	width: 250px;}

#imgNextSummary574d-57h7f, #imgPreSummary574d-57h7f {	display: none}

#dLatesNews ul li a label {	float: left}

/*END TIN TUC SLIDE*//* CSS Document */.page_date {color: #fff;line-height: 33px;padding: 0 10px;font-weight: bold;}

.div_slider123 {	clear: both;	border: 1px solid #a7ccdb;	border-top: none;	width: 100%;}

.img_slider123 {	padding: 1px;	border: 1px solid #ccc;	box-shadow: 1px 1px 5px #ccc;	margin: 16px;	height: 173px !important;	vertical-align: top;	opacity: 1;	cursor: pointer;}

.div_slider123 label {	background: #000;	opacity: 0.7 !important;	left: 1px !important;	bottom: 2px !important;	color: #fff;	width: 200px;	height: 52px;	display: block;	position: absolute;	font-weight: bold;	text-align: center;}

.slyde_img {    /*    border: 1px solid #a7ccdb;  */	border-top: none;	width: 100%;}

.slyde_img .article_content {	display: none;}

.frames-catalogue-article {	border-top: 1px dotted rgb(161, 156, 156);	margin-top: 5px;}

.cont_skhdt div:first-child {	margin-top: 0px !important;}

td font.image_comment {	max-width: 250px;	line-height: 18px;	display: inline-flex;}

.frames-catalogue-article {	border-top: 1px dotted rgb(161, 156, 156);}

.artItem {	border-bottom: 1px dotted rgb(161, 156, 156);}