/*left menu*/
.menu {
    margin: 0 0 10px 0;
    padding: 0;
    background: #2098C3;
}
.menu li {
    position: relative;
}

.menu li a {
    display: block;
    overflow: auto;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}

.menu .sub-menu {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 188px;
    z-index: 9;
    background: #fff;
    border-left: 1px solid #fff;
    min-width: 220px;
}

.menu .sub-menu li a {
    display: block;
    overflow: auto;
    padding: 6px;
    font-size: 12px;
    font-weight: bold;
    background: #f2f2f2;
}

.menu li:hover .dropdown-menu {
    display: block;
}

.menu .dropdown-menu {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 203px;
    z-index: 9;
    background: #fff;
    border-left: 1px solid #fff;
    min-width: 220px;
    background: #2098C3;
}

.menu .dropdown-menu li{
    border-bottom: 1px #fff solid;
    margin: 0;
    position: relative;
    padding: 2px 2px 2px 15px;
}

.menu .dropdown-menu>li>a:hover{
    color: #ffff00;
    text-decoration: none;
    background-color: #2098C3;
}

.menu .parent:hover {
    color: #ffff00;
    text-decoration: none;
}

.menu .menu-item{
    border-bottom: 1px #fff solid;
    margin: 0;
    position: relative;
    padding: 2px 2px 2px 27px;
    background: url(../images/bulet.png) no-repeat 12px 12px;
}

.menu .menu-item .parent {
    background: url(../images/arrow-list.png) no-repeat center right;
}